<div class="nav-container" appObserveElement (isIntersecting)="onElementIntersecting($event,'animate__fadeInDown')">
    <div class="nav-menu">
        <div class="menu-logo">
            <img src="/assets/Images/Abhinitee Design/abhinitee-logo.png">
        </div>

        <div class="content-menu-container">
            <div class="content-menu-parent" *ngFor="let menu of menuList">
                <div class="content-menu" >
                    <a [routerLink]="menu.link" [queryParams]="{product: menu.queryParam}">{{menu.name}}</a>
                    <div class="content-submenu">
                        <a [routerLink]="subMenu.link" [queryParams]="{product: subMenu.queryParam}" *ngFor="let subMenu of menu.subMenuList">{{subMenu.name}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="responsive-menu-container" [style]="{'display': responsiveHeaderDisplay}">
            <div class="responsive-menu" (click)="handleResponsiveMenuClick(menu.link)" *ngFor="let menu of menuList">
                <span>{{menu.name}}</span>
                <div class="responsive-submenu" 
                    [style]="{'display': responsiveSubMenuDisplay}" 
                    *ngFor="let subMenu of menu.subMenuList"
                    (click)="handleResponsiveMenuClick(subMenu.link + '?product=' + subMenu.queryParam)"
                >
                    {{subMenu.name}}
                </div>
            </div>
        </div>

        <div class="social-media-container">
            <div class="social-media" *ngFor="let media of socialMediaUrl">
                <img [src]="media">
            </div>
        </div>

        <div class="menu-bar" (click)="toggleResponsiveMenu()">
            <fa-icon [icon]="'bars'"></fa-icon>
        </div>
    </div>
</div>
<!-- <div class="submenu-content">
                    <a href="#">Product 1</a>
                    <a href="#">Product 2</a>
                    <a href="#">Product 3</a>
                    <a href="#">Product 4</a>
                    <a href="#">Product 5</a>
                </div> -->