<div>
    <div class="home-about-company-name">
        <hr /> {{title}} <hr /> 
    </div>
    <div class="home-about-container">
        <div class="home-about-image">
            <img src="{{imgUrl}}">
        </div>
        <div class="home-about-description">
            <div class="home-about-description-heading">
                <div class="icon">
                    <fa-icon [icon]="'building-user'"></fa-icon>
                </div>
                <h2>About us</h2>
            </div>
            <div class="home-about-description-title">
                {{storyHeading}}
            </div>
                {{story}}
        </div>
    </div>  
</div>

