<div class="main-service">
    <div class="ser" appObserveElement (isIntersecting)="onElementIntersecting($event,'animate__fadeInDown')">{{selectedProduct.heading}}</div>
    
    <div class="service">
        <div class="ser-container">
            <div class="ser-details">
                <p class="ser-head" appObserveElement (isIntersecting)="onElementIntersecting($event,'animate__fadeInLeft')" >{{selectedProduct.title}}</p>
                <p class="ser-con" *ngFor="let desc of selectedProduct.description" appObserveElement (isIntersecting)="onElementIntersecting($event,'animate__fadeInLeft')">
                   {{desc}}           
                </p>

                
                <!-- <p class="ser-con">
                    We use authenticated material like, Orvar, Dievar, Doosan, Bohler as a die
                        material
                        on customers choice , follow the standard cycle of roughing , drill & tapping, vacuum
                        hardening
                        cycle , finishing , EDM, wire cut , (in stage inspections) , die spotting , polishing ,
                        dismantling
                        ,stress relieving final assembly and dispatch
                </p> -->


                <!-- <p class="ser-head">2. Foundry Patterns (Sand & Shell moulding):</p>
                <p class="ser-con">
                    We do Design and develop the sand Patterns and cold box core boxes for all kind of foundry
                        lines
                        like Arpa, Disa, Disa match, Tokyo, Sinto , Hans burg . Now a days it is trend of High
                        pressure
                        moulding line and we are experts in making this tooling.
                </p>
                <p class="ser-con">
                    We have designed and developed the cold box core boxes & shell core boxes for all type of
                        core
                        shooters. We have developed core boxes for all core shooters manufacturer. (M/s SPAN,
                        COMPAX,
                        Galaxy, Lampe).
                        In Shell moulding we have developed shouted mould cylinder block, center housing, turbine
                        housing, manifolds, all critical performance oriented automobile items.
                    
                </p>

                <p class="ser-head">3. Mould base Manufacturing:</p>
                <p class="ser-con">
                    We do manufacture the customized mould base for HPDC and Plastic Molds by given customer
                        data.
                        We have manufactured the mould base up to 2500 ton capacity.
                </p>
                <p class="ser-con">
                    We love to do compound degree slider operations and compound degree angular machining works
                        within 20 microns with our HMC machine.
                    
                </p>

                <p class="ser-head">4. Plastic Moulding:</p>
                <p class="ser-con">
                    We do labour job like machining of core and cavity with cooling work.
                    
                </p>

                <p class="ser-head">5. Press Tool:</p>
                <p class="ser-con">
                    We do labour job like machining of casting and maching of casting fitted with hardened
                        pieces
                        profile work.
                </p> -->
            </div>
        </div>
    </div>

    <div class="product-gallery">
  
        <div class="product-gallery-product" *ngFor="let productImage of selectedProduct.productImageList">
            <div class="product-die-image">
                <div class="die-image-name">
                    {{productImage.productDieName}}
                </div>
                <img [src]="productImage.productDieImage">
            </div>
            <img class="casting-image" [src]="productImage.productCastingImage" [style]="productImage.style">
        </div>

        <!-- <div class="product-gallery-image" *ngFor="let img of selectedProduct.imageUrls;" appObserveElement (isIntersecting)="onElementIntersecting($event,img.animation)">
            <img [src]="img.url">
        </div> -->
    </div>
</div>
<app-footer></app-footer>