<div class="footer">
    <div class="footer_main">
        <div class="content">
            <div class="logo">
                <img src="download.png">
            </div>
            <div class="footer-conpany-desc">
                Inox Ceramic has decorated your home with joy, beauty and life, reflecting the quality,
                durability and longevity of your products for more than 4 decades.
            </div>
        </div>
        <div class="content">
            <h1>Get In Touch</h1>
            <div class="icon">
                <i class="fa-solid fa-location-dot"></i>
                <p><b>INOX CERAMIC</b></p>
            </div>
            <div class="add">
                <p>Morvi,Gujarat,India </p>
            </div>
            <div class="inquiry">
                <p><b>Inquery: </b> sales&#64;inoxceramic.com</p>
            </div>
            <div class="contact">
                <i class="fa-solid fa-location-dot"></i>
                <p>+91 99790 66676
                </p>
            </div>

            <div class="contact1">
                <i class="fa-solid fa-location-dot"></i>
                <p>+91 99790 66676
                </p>
            </div>
            <div class="contact2">
                <i class="fa-solid fa-location-dot"></i>
                <p>+91 99790 66676
                </p>
            </div>

        </div>

        <div class="content">
            <h1>Quicklinks</h1>
            <div class="menu">
                <a href="">Home</a>
            </div>

            <div class="menu">
                <a href="">Home</a>
            </div>
            <div class="menu">
                <a href="">Home</a>
            </div>
            <div class="menu">
                <a href="">Home</a>
            </div>
            <div class="menu">
                <a href="">Home</a>
            </div>
        </div>
    </div>
    <div class="all-right-recived">
        <p>2024 © ABHINEEDHI INDIA. All Rights Reserved.</p>
    </div>
</div>
