  
  .slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider-image {
    opacity: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: FADE_IN_OUT 10s infinite;
    max-height: calc(100vh - 100px);
  }
  
  .slider-text-bg {
    position: absolute;
    top: 0;
    left: 25%;
    background-color: #f8090947;
    width: 20%;
    height: 60%;
    z-index: 5;
  }
  
  .slider-text {
    font-size: 5vw;
    max-width: 50vw;
    color: white;
    position: absolute;
    left: 30%;
    top:25%;
    z-index: 5;
    transform: translateX(150%);
    animation: SLIDE_LEFT 10s infinite;
    text-shadow: 0px 0px 5px rgba(128, 0, 0, 1);
  }

  .slider-image img {
    width: 100%;
    /* height: 100vh; */
  }
  
  @keyframes FADE_IN_OUT {
    0% {
      transform: scale(1, 1);
    }
  
    10% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    100% {
      transform: scale(1.3, 1.3);
    }
  }

  @keyframes SLIDE_LEFT{
    0%{
        transform: translateX(200%);
    }
    20%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(200%);
    }
  }